*{
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
body{
   
    background:	#f7f7f7
}
button:focus{
    outline: none;
}
.container{
    padding: 2rem 10rem;
    background:#f7f7f7
}

.noneDisplay{
    display: none;
}
.flex-fill{
    display: flex;
}
#close_form_id{
    z-index: 1;
}
.top_right{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.text_container{
    position: relative;
    
}
.fa-user-circle-o{
    margin: 0.5rem;
    color: rgb(184, 184, 184);
}
input.post_ip{
    border: none;
    width: calc(100% - -7.5rem);
    min-height: 4rem;
    background: #fafafa;
    padding: 1rem;
    border-radius: 1rem;
}
.post_btn{
    position: absolute;
    bottom: 0.9rem;
    right: 1rem
}
.gif_btn{
    border: none;
    padding: 0.3rem 3rem;
    border-radius: 2rem;
    float: left;
    background: linear-gradient(to right, rgb(182, 114, 184), rgb(97, 13, 97));
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.gif_btn:hover{
    box-shadow: 0px 0px 8px grey;
}

.upload_option_container{
    position: relative;
    margin-top: 2rem;
}
.gif_modal{
    min-width: 200px;
    min-height: 200px;
    padding: 1rem;
    width: 100%;
    background: #e7ebee;
    border-radius: 7px;
    position: absolute;
    top: 3rem;
    left: 0rem;
}
.gif_modal .modal_tip{
    background: #e7ebee;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate( 45deg );
    top: -8px;
    left: 3rem;
    z-index: 1000;
}
.show_gif{
    visibility: visible;
    transition: all 1s;
}
.hide_gif{
    visibility: hidden;
}
.gif_search{
    margin-bottom: 1rem;
}
.gif_search input{
    border: none;
    width: 100%;
    background: #fafafa;
    padding: 0.5rem 1rem;
}
.gif_input{
    margin-top: 0.5rem;
}
.gif_input img{
    max-width: 200px;
}
.gif_list img{
    max-width: 200px;
    margin: 5px;
}
.post_input{
    border: 1px solid grey;
    padding: 1.2rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
}
.post_list{
    margin-top: 1rem;
}
.post_list .list{
    display:flex;
    background:#ffffff ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    float:center;
}

.gif-search-btn{
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
}
.current-date{
    font-size: 0.5em;
    float:center
}
.post_input{
    background:#ffffff
}
.modal-title{
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 940px) {
    .container {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 500px) {
    input.post_ip{
        border: none;
        width: calc(100% - -0.5rem);
        min-height: 4rem;
        background: #fafafa;
        padding: 1rem;
        border-radius: 1rem;
    }
  }